*{margin:0;padding:0;}

.content{
  width:450px;
  margin:0 auto;
  margin-top:8px;
  margin-bottom:2%;
  transition:opacity 1s;
  -webkit-transition:opacity 1s;
}

.title{
    text-align:center;
    font-size: 150%;
}

form{
  padding:6% 4%;
}

input[type="text"], input[type="password"]{
    width:100%;
    margin-bottom:4%;
}