*{margin:0;padding:0;}

#login{
  width:400px;
  margin:0 auto;
  margin-top:8px;
  margin-bottom:2%;
  transition:opacity 1s;
  -webkit-transition:opacity 1s;
}

#login h3{
  text-align:center;
}

form{
  padding:6% 4%;
}

input[type="text"],input[type="password"]{
    width:100%;
    margin-bottom:4%;
}